/* ========== SIGN UP SECTION ========== */
/* .signup-section {
} */

.signup-section .wrapper {
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.signup-section .header {
  max-width: 400px;
  margin: auto;
}

.signup-section .title {
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #333;
}

.signup-section .text {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;
  color: #444;
  text-transform: capitalize;
}

.signup-section .text a {
  font-size: inherit;
  color: blue;
}

.signup-section .text a:hover,
.signup-section .text a:active,
.signup-section .text a:focus {
  text-decoration: underline;
}

/* ========== SIGN UP FORM ========== */
.signup-form {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
}
