.dish-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #edefee;
  max-width: 340px;
  height: 100%;
  margin: auto;
  max-height: 560px;
}

.dish-card .img-container {
  height: 40%;
  background-color: #f4ce14;
  background-color: #edefee;
}

.dish-card .img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  object-fit: cover;
}

.dish-card .body {
  height: 60%;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish-card .title {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  padding: 8px 0;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.dish-card .price {
  color: #ee9972;
}

.dish-card .description {
  font-size: 1rem;
  color: #495e57;
  padding: 8px 0;
}

.dish-card .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 16px;
  color: #000;
  font-size: 1.15rem;
  font-weight: 500;
  font-family: 'Karla', sans-serif;
  text-transform: capitalize;
  background-color: transparent;
  transition: all 0.3s linear;
  margin-top: auto;
}

.dish-card .btn:hover,
.dish-card .btn:focus {
  border-color: #495e57;
}

.dish-card .icon {
  margin-left: 0.5rem;
  color: inherit;
}

.dish-card .icon:hover {
  color: #fff;
}
