.menu-section {
  background-color: #fff;
}

.menu-section .content {
  padding: 2rem 0;
}

.menu-section .header {
  padding: 1rem;
  margin-bottom: 2rem;
}

.menu-section .title {
  font-size: 48px;
  text-align: center;
}

.menu-section .dish-cards {
  background-color: #495e57;
}

.menu-section .dish-card {
  background-color: #fff;
}

/* RESPONSIVNESS */

@media (min-width: 768px) {
  .menu-section .title {
    font-size: 58px;
  }
}
