.orders {
}

.content-wrapper {
  margin: 0 auto 2rem;
}

.cart-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.cart-summary-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #666;
}

.cart-summary-totals {
  margin-bottom: 1rem;
}

.cart-summary-totals p {
  color: #666;
  padding: 0.55rem 0;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.cart-summary-totals strong {
  color: #333;
}

.cart-summary .link-btn {
  width: 100%;
  border-radius: 0;
  font-weight: 400;
  margin-top: 2rem;
}

/*=== table=== */
.shopping-cart {
  padding: 1rem;
  border-radius: 4px;
}

.row {
  position: relative;
  border-top: 2px solid #ddd;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.row:last-of-type {
  border-bottom: 2px solid #ddd;
}

.header-row {
  border: none;
  align-items: center;
}

.col {
  flex: 1 1 auto;
  text-align: center;
}

.header-col {
  font-size: 1.15rem;
  font-weight: 600;
  color: #666;
  text-transform: capitalize;
  text-align: center;
}

.header-col:first-of-type {
  flex: 0 0 30%;
  text-align: left;
}

.item-details {
  flex: 0 0 30%;
}

.item-name {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 6px;
  text-align: left;
  letter-spacing: 1px;
  color: #333;
}

.item-img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.remove-btn {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 0.85rem;
  padding: 4px;
  border: 1px solid #9b0707;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
  color: #9b0707;
  text-transform: capitalize;
  background-color: #ffffff;
  border-radius: 4px;
}

.remove-btn .icon {
  margin-right: 4px;
}

.remove-btn:hover,
.remove-btn:focus {
  background-color: #9b0707;
  color: #fff;
}

.item-price {
  color: #666;
}

.qty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty button {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  font-weight: 600;
  padding: 2px 6px;
  color: #333;
  background-color: #ddd;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;
  line-height: 1;
  transition: all 0.3s linear;
}

.qty button:hover {
  background-color: #bbb;
  color: #333;
}

.qty strong {
  padding: 2px 8px;
}

/* .link-btn.shop {
} */

.empty-cart-text {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
  border-top: 4px solid #ee9972;
  margin: 3rem auto;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
  }

  .shopping-cart {
    order: 1;
    flex-grow: 1;
  }

  .cart-summary {
    order: 2;
    margin-bottom: 0;
    max-width: 320px;
    height: fit-content;
  }

  .header-col,
  .item-name {
    font-size: 1.25rem;
  }
}
