.profile-section .wrapper {
  padding: 2rem 0;
}

.profile-section li {
  text-transform: capitalize;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.profile-section li:last-child {
  margin-bottom: 0;
}

.profile-section li span {
  text-transform: unset;
  color: #495e57;
  font-weight: 600;
}
