.login-error {
  padding: 8px;
  color: #222;
  font-weight: 500;
  font-size: 0.85rem;
  width: 90%;
  margin: 8px auto;
  text-transform: capitalize;
  border: 1px solid rgb(201, 95, 95);
  background-color: rgb(240, 189, 189);
  border-radius: 8px;
}

.login-error .error {
  font-size: 1rem;
  text-transform: uppercase;
  color: red;
}
