/* ========== BOOKING SECTION ========== */
.booking-section {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)),
    url('../../images/restaurant.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* .booking-section .content {
} */

.booking-section .header {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.booking-section .title {
  color: #f4ce14;
}

.booking-section .sub-title {
  color: #fff;
  margin-bottom: 1.3rem;
}

.booking-section .text {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.booking-section .text:last-child {
  margin-bottom: 0;
}

.booking-section .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .booking-section .description {
} */

/* ========== BOOKING FORM ========== */

.booking-form {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
}

/* ========== MEDIA QUIRIES ========== */

/* @media (min-width: 576px) {
} */

@media (min-width: 768px) {
  .booking-section .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .booking-section .description {
    max-width: 500px;
  }

  .booking-section .sub-title {
    font-size: 2.5rem;
  }

  .booking-form {
    max-width: 500px;
    margin-left: auto;
  }
}
