/* ========== BOOKING SECTION ========== */
.booking {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)),
    url('../images/restaurant.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .title {
    color: #f4ce14;
    text-align: center;
    letter-spacing: 1px;
  }
  .sub-title {
    margin-bottom: 0.5rem;
  }
  &_description {
    color: #fff;
    margin-bottom: 1rem;
  }
  .text {
    font-size: $fs-medium;
  }
}

/* ========== BOOKING FORM ========== */

.booking_form {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  .submit-btn {
    margin-top: 1rem;
  }
}

/* ========== MEDIA QUIRIES ========== */

/* @media (min-width: 576px) {
} */

@media (min-width: 768px) {
  .booking_inner-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .booking_description {
    max-width: 500px;
  }

  .booking_form {
    max-width: 500px;
    margin-left: auto;
  }
}
