/* ========== BOOKING SECTION ========== */
.booking {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)),
    url('../images/restaurant.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .title {
    color: #f4ce14;
    text-align: center;
  }
  .sub-title {
    margin-bottom: 0.5rem;
  }
  &__description {
    color: #fff;
    margin-bottom: 1rem;
  }
  .text {
    font-size: $fs-medium;
  }
}

/* ========== BOOKING FORM ========== */

.booking-form {
  width: 100%;
  max-width: 31.25rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  .submit-btn {
    margin-top: 1rem;
  }
}

/* ========== MEDIA QUIRIES ========== */

@media (min-width: 48rem) {
  .booking__inner-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  .booking__description {
    // max-width: 31.25rem;
    flex-basis: 40%;
    flex-grow: 1;
  }

  .booking-form {
    flex-basis: 60%;
  }
}
