.footer {
  background-color: #edefee;
}

.category-title {
  letter-spacing: 1px;
}

.copyright__text {
  font-size: $fs-small;
  color: $cl-text-light;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'logo logo logo logo logo'
    'sitemap sitemap sitemap sitemap sitemap'
    'contact contact contact contact contact'
    'social social social social social'
    'copyright copyright copyright copyright copyright';
  align-items: start;
  justify-items: center;
  row-gap: 2rem;
}

.item {
  background-color: #f3f3f3;
  border-radius: 0.5rem;
}

.footer__logo-container {
  grid-area: logo;
  background-color: transparent;
  border-radius: 0.5rem;
}
.site-map {
  grid-area: sitemap;
}
.contact {
  grid-area: contact;
}
.social-media {
  grid-area: social;
}
.copyright {
  grid-area: copyright;
  width: 100%;
  align-self: end;
  padding: 1rem;
}

.footer__logo-container {
  width: fit-content;
  min-width: 12.5rem;
}
.footer__logo {
  max-width: 11.25rem;
  border-radius: $b-r-medium;
}
.site-map,
.contact,
.social-media {
  width: fit-content;
  min-width: 18.75rem;
  padding: 1rem;
}
.footer__logo-container,
.site-map,
.contact,
.social-media,
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.contact li {
  font-size: 0.9rem;
}

.contact__icon {
  margin-right: 0.5rem;
}

.social-media ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer a:link,
.footer a:visited {
  display: block;
}

.footer a:hover,
.footer a:focus {
  opacity: 0.5;
  text-decoration: underline;
}

.footer a,
.footer li {
  font-size: 1rem;
  color: #495e57;
}
.site-map a,
.contact li {
  padding: 0.5rem 0.75rem;
}

.social-media a {
  padding: 0.3125rem;
}

@media (min-width: 36rem) {
  .footer__container {
    grid-template-areas:
      'logo logo sitemap sitemap sitemap'
      'contact contact contact social social'
      'copyright copyright copyright copyright copyright';
  }
  .footer__logo-container,
  .contact {
    justify-self: start;
  }
  .social-media,
  .site-map {
    justify-self: end;
  }
  .site-map {
    min-width: 15.625rem;
  }
  .social-media {
    align-self: center;
    min-width: 12.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__container {
    grid-template-areas:
      'logo sitemap sitemap contact contact'
      'social copyright copyright copyright copyright';
  }
  .footer__logo-container {
    min-width: initial;
    width: 100%;
  }
  .footer__logo {
    max-width: 100%;
  }
  .site-map {
    justify-self: center;
    min-width: 12.5rem;
  }

  .social-media {
    justify-self: start;
    min-width: initial;
    width: 100%;
  }

  .contact {
    justify-self: end;
    align-self: center;
  }
}
