/* ========== CALL TO ACTION SECTION ==========*/
.hero {
  background-color: #495e57;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem 1rem;
}
.hero__info {
  width: 100%;
  min-width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__title {
  color: #f4ce14;
}

.hero__sub-title {
  color: #edefee;
}

.hero__text {
  color: #fff;
  max-width: 35ch;
  letter-spacing: $l-spacing-1;
}

/* call to action btn */
.hero .link-btn {
  margin: 1rem auto 0;
  width: fit-content;
}

.hero__img {
  width: 100%;
  min-width: 12.5rem;
  max-width: 18.75rem;
  max-height: 25rem;
  margin-bottom: -3.125rem;
  object-fit: cover;
  border-radius: 1rem;
}

/* ========== MEDIA QUERIES ==========*/
@media (min-width: 36rem) {
  .hero__container {
    flex-direction: row;
    align-items: flex-start;
  }
  .hero__img {
    margin-bottom: -5rem;
  }
  .hero .link-btn {
    margin: 2rem 0 0;
  }
}
