/* ========== LOGIN SECTION ========== */
.login {
  .title {
    text-align: center;
  }
  .text-light {
    padding: 0 1rem 0.5rem;
    align-self: flex-start;
  }
}

.login__inner-wrapper {
  max-width: 31.25rem;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
  border-radius: $b-r-medium;
}

/* ========== LOGIN FORM ========== */
.login-form {
  width: 100%;
  padding: 1rem;
  border-radius: $b-r-medium;
}

/* errors */
.login-error {
  padding: 0.5rem;
  font-weight: $fw-medium;
  font-size: $fs-small;
  width: 90%;
  margin: 0.5rem auto;
  text-transform: capitalize;
  border: 1px solid $cl-tertiary;
  background-color: $cl-quaternary;
  border-radius: $b-r-medium;
  .error {
    font-size: 1rem;
    text-transform: uppercase;
    color: red;
  }
}
