.logout {
  .title {
    text-align: center;
  }
  .text {
    font-size: $fs-large;
    text-transform: capitalize;
  }
  .link-btn {
    margin-top: 2rem;
    background-color: #495e57;
    color: #fff;
    border-color: #fff;
    &:hover,
    &:active,
    &:focus {
      border-color: #495e57;
      background-color: #fff;
      color: #495e57;
    }
  }
}
