/* ========== SPECIALS SECTION ==========*/
.specials {
  background-color: #fff;
  .section__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

/* ========== MEDIA QUERIES ==========*/

@media (min-width: 36rem) {
  .specials {
    .section__header {
      justify-content: space-between;
    }
  }
}
