// colors
$cl-black: #000000;
$cl-white: #ffffff;
$cl-dark: #333333;
$cl-light: #ededee;
$cl-text-light: #757575;
$cl-primary: #495e57;
$cl-secondary: #f4ce14;
$cl-tertiary: #ee9972;
$cl-quaternary: #fbdabb;
// font family
$ff-primary: 'Markazi Text', serif;
$ff-secondary: 'Karla', sans-serif;
// font size
$fs-small: 0.875rem;
$fs-normal: 1rem;
$fs-medium: 1.125rem;
$fs-large: 1.25rem;
$fs-xlarge: 2.5rem;
$fs-xxlarge: 3.25rem;
$fs-huge: 4rem;
// font weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extrabold: 800;
// border radius
$b-r-small: 4px;
$b-r-medium: 8px;
$b-r-large: 1rem;
// padding
$padding: 0.875rem 1rem;
// transition
$transition-1: all 0.3s linear;
$transition-2: all 0.6s linear;
$transition-3: all 0.9s linear;
