.specials {
  background-color: #fff;
}

/* .specials .content {
} */

/* .specials .header {
} */

.specials .title {
  width: fit-content;
  margin: 0 auto 2rem;
}

/* call to action btn */
.specials .link-btn:link,
.specials .link-btn:visited {
  font-weight: 500;
  margin: auto;
}

/* RESPONSIVNESS */

@media (min-width: 576px) {
  .specials .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .specials .title {
    width: 100%;
    margin: 0;
  }
}

/* @media (min-width: 768px) {
} */
