.specials {
  background-color: #fff;
}

.specials .content {
  padding: 4rem 0 2rem;
}

.specials .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  gap: 2rem;
}

.specials .title {
  width: unset;
  font-size: 40px;
}
/* call to action btn */
.specials .link-btn:link,
.specials .link-btn:visited {
  font-weight: 500;
}

/* RESPONSIVNESS */

@media (min-width: 576px) {
  .specials .header {
    flex-direction: row;
    align-items: center;
  }
  .specials .title {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .specials .title {
    font-size: 58px;
  }
}
