.hero-section {
  background-color: #495e57;
}

.hero-section .content {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /*important*/
  gap: 8px;
}

.hero-section .info {
  display: flex;
  flex-direction: column;
}

.hero-section .title {
  color: #f4ce14;
  letter-spacing: 2px;
}

.hero-section .sub-title {
  color: #fff;
}

.hero-section .text {
  color: #fff;
  font-size: 18px;
  max-width: 300px;
}
/* call to action btn */
.hero-section .link-btn:link,
.hero-section .link-btn:visited {
  margin-top: auto;
}

.hero-section .img {
  align-self: flex-start;
  min-width: 110px;
  max-width: 50%;
  max-height: 500px;
  object-fit: cover;
  margin-top: 1rem;
  border-radius: 16px;
}

/* RESPONSIVNESS */
@media (min-width: 576px) {
  .hero-section .content {
    max-height: 480px;
  }

  .hero-section .img {
    margin-bottom: -130px;
  }
}

/* @media (min-width: 768px) {
} */
