/* ========== CALL TO ACTION SECTION ==========*/
.hero-section {
  background-color: #495e57;
}

.hero-section .content {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /*important*/
  gap: 8px;
}

.hero-section .info {
  display: flex;
  flex-direction: column;
}

.hero-section .title {
  color: #f4ce14;
  letter-spacing: 2px;
}

.hero-section .sub-title {
  color: #fff;
}

.hero-section .text {
  color: #fff;
  font-size: 18px;
  max-width: 300px;
}
/* call to action btn */
.hero-section .link-btn:link,
.hero-section .link-btn:visited {
  margin-top: auto;
}

.hero-section .img {
  align-self: flex-start;
  min-width: 110px;
  max-width: 50%;
  max-height: 500px;
  object-fit: cover;
  margin-top: 1rem;
  border-radius: 16px;
}

/* ========== SPECIALS SECTION ==========*/

.specials {
  background-color: #fff;
}

/* .specials .content {
} */

/* .specials .header {
} */

.specials .title {
  width: fit-content;
  margin: 0 auto 2rem;
}

/* call to action btn */
.specials .link-btn:link,
.specials .link-btn:visited {
  font-weight: 500;
  margin: auto;
}

/* ========== CUSTOMERSSAY SECTION ==========*/
.testimonials {
  background-color: #edefee;
}

/* .testimonials .content {
} */

/* .testimonials .header {
} */

.testimonials .title {
  text-align: center;
  margin-bottom: 1rem;
}

.testimonials .sub-title {
  font-size: 20px;
  font-weight: 400;
  color: #495e57;
  text-transform: none;
  margin-bottom: 1rem;
}

.testimonials .cards {
  display: grid;
  grid-template-columns: 280px;
  justify-content: space-evenly;
  column-gap: 16px;
  row-gap: 32px;
  padding: 2rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}

.testimonials .card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 320px;
  min-width: 220px;
  max-width: 280px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  padding: 1rem;
  margin: auto;
  box-shadow: 3px 3px 16px #495e57;
}

.testimonials .star-rating {
  position: absolute;
  margin-bottom: 0.5rem;
  z-index: 10;
}

.testimonials .star-icon {
  font-size: 1rem;
}

.gold {
  color: #ffc107;
}

.silver {
  color: #e4e5e9;
}

.testimonials .profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonials .client-name {
  width: fit-content;
  margin-left: auto;
  color: #222;
  font-size: 1.5rem;
  font-weight: 500;
}

.testimonials .client-img {
  max-width: 100px;
  border-radius: 50%;
}

.testimonials .quote {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.testimonials .client-review {
  font-size: 14px;
  line-height: 1.3;
  color: #333;
}

/* ========== MEDIA QUERIES ==========*/

@media (min-width: 576px) {
  /* hero */
  .hero-section .content {
    max-height: 480px;
  }

  .hero-section .img {
    margin-bottom: -130px;
  }
  /* specials */
  .specials .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .specials .title {
    width: 100%;
    margin: 0;
  }
}

/* customersSay */

@media (min-width: 650px) {
  .testimonials .sub-title {
    font-size: 32px;
  }

  .testimonials .cards {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 768px) {
  .testimonials .cards {
    column-gap: 20px;
  }

  .testimonials .sub-title {
    font-size: 38px;
  }
}

@media (min-width: 992px) {
  .testimonials .cards {
    grid-template-columns: 240px 240px 240px;
  }
}
