.logout-section .wrapper {
  padding: 2rem 0;
}

.logout-section .text {
  font-size: 1.25rem;
}

.logout-section .link-btn {
  margin-top: 1.5rem;
  background-color: #495e57;
  color: #fff;
  border-color: #fff;
}

.logout-section .link-btn:hover,
.logout-section .link-btn:active,
.logout-section .link-btn:focus {
  margin-top: 1.5rem;
  border-color: #495e57;
  background-color: #fff;
  color: #495e57;
}
