.main-header {
  max-width: 240px;
  width: min(50%, 220px);
}

.main-header .logo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

/* @media (min-width: 576px) {
} */

@media (min-width: 768px) {
  .main-header {
    max-width: 160px;
  }
}

@media (min-width: 992px) {
  .main-header {
    max-width: 220px;
  }
}
