.header {
  grid-column: 1 / span 4;
  justify-self: center;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  max-width: 300px;
}

@media (min-width: 576px) {
  .header {
    grid-column: span 8;
  }
}

@media (min-width: 768px) {
  .header {
    grid-column: 1 / span 3;
  }
}
