.booking-form {
  width: 100%;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: #fff;
  border-radius: 8px;
}

.booking-form fieldset {
  padding: 1rem;
  border: 1px solid #495e57;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.booking-form legend {
  color: #222;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 16px;
}

.booking-form .form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.booking-form .form-control:last-child {
  margin-bottom: 0;
}

.booking-form label {
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: #495e57;
  cursor: pointer;
  text-transform: capitalize;
}

.booking-form .required {
  height: 100%;
  padding-right: 2px;
  font-size: 24px;
  vertical-align: middle;
  color: red;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #495e57;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s linear;
}

.booking-form input,
.booking-form select {
  height: 2.5rem;
}

.booking-form input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  border-color: #495e57;
}

.booking-form input.input-error,
.booking-form select.input-error {
  border-color: red;
}

.booking-form .submit-btn {
  display: block;
  padding: 8px 12px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1;
  border: 2px solid #495e57;
  background-color: #495e57;
  border-radius: 2rem;
  transition: all 0.4s linear;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  background-color: transparent;
  color: #495e57;
  border-color: #495e57;
}

.booking-form .submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
