.about {
  background-color: #fff;
}

.about .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about .header {
}

.about .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  /* position: relative; */
}

.about .title {
  color: #f4ce14;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.about .sub-title {
  color: #495e57;
}

.about .text {
  font-size: 18px;
  color: #333;
}

.about .text:first-child {
  margin-bottom: 1rem;
}

.about-img-1,
.about-img-2 {
  display: block;
  min-width: 100px;
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;
  /* margin: auto; */
  border-radius: 8px;
}

/* RESPONSIVNESS */

/* @media (min-width: 576px) {
  .about .right {
    flex-direction: row;
    justify-content: space-between;
  }
} */

@media (min-width: 768px) {
  .about .content {
    flex-direction: row;
  }

  .about .left {
    width: 50%;
  }

  .about .right {
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
  }

  .about-img-1 {
    margin-top: 15%;
    margin-right: -25%;
    z-index: 2;
  }
}
