.footer {
  background-color: #edefee;
  padding: 1rem 0;
}

.footer-content {
  align-items: start;
  grid-template-rows: auto auto auto auto;
}

.footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.logo-container,
.site-map,
.contact,
.social-media {
}

.logo-container {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

.logo-container img {
  width: 100%;
  border-radius: 8px;
}

.site-map {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.contact {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.social-media {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}

.contact li {
  font-size: 0.9rem;
}

.site-map,
.contact,
.social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer a:link,
.footer a:visited {
  text-transform: capitalize;
}

.footer a:hover,
.footer a:focus {
  color: #000;
  text-decoration: underline;
}

.footer a,
.footer li {
  font-size: 1rem;
  color: #495e57;
}

@media (min-width: 576px) {
  .logo-container {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
  }

  .site-map {
    grid-column: 6 / span 2;
    grid-row: 1 / span 1;
  }

  .contact {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
  }

  .social-media {
    grid-column: 6 / span 2;
    grid-row: 2 / span 1;
  }
}

@media (min-width: 768px) {
  .logo-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .site-map {
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
  }

  .contact {
    grid-column: 6 / span 4;
    grid-row: 1 / span 1;
  }

  .social-media {
    grid-column: 10 / span 2;
    grid-row: 1 / span 1;
  }
}
