.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2000px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.max-width {
  width: 100%;
  min-width: 280px;
  /* max-width: 960px; */
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;
}

.top-wrapper,
.main,
.footer {
  width: 100%;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #495e57;
}

main,
.main {
  height: 100%;
}

.footer {
  height: fit-content;
  margin-top: auto;
  border-top: 1px solid #495e57;
}

/* call to action btn */
.link-btn {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  min-width: fit-content;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 16px;
  text-transform: capitalize;
  text-align: center;
}

.link-btn:link,
.link-btn:visited {
  color: #000;
  background-color: #f4ce14;
  border: 2px solid #f4ce14;
}

.link-btn:hover,
.link-btn:focus {
  color: #f4ce14;
  background-color: #495e57;
}

.title,
.sub-title {
  line-height: 1;
  font-family: 'Markazi Text';
  font-weight: 500;
  text-transform: capitalize;
  width: 100%;
}

.title {
  font-size: 3.5rem;
}

.sub-title {
  font-size: 2.5rem;
}

section,
.section {
  padding: 2rem 0;
  margin-bottom: 1rem;
}

section header,
.section .header {
  padding: 1rem 0;
}

.error-msg {
  font-size: 0.6rem;
  text-transform: capitalize;
  color: red;
  width: fit-content;
}
/* ========== FORM ELEMEMTS ========== */
fieldset {
  padding: 1rem;
  border: 1px solid #495e57;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

legend {
  color: #222;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 16px;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.form-control:last-child {
  margin-bottom: 0;
}

label {
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: #495e57;
  cursor: pointer;
  text-transform: capitalize;
}

.required {
  height: 100%;
  padding-right: 2px;
  font-size: 24px;
  vertical-align: middle;
  color: red;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #495e57;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s linear;
}

input,
select {
  height: 2.5rem;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #495e57;
}

input.input-error,
select.input-error {
  border-color: red;
}

.submit-btn {
  display: block;
  padding: 8px 12px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1;
  border: 2px solid #495e57;
  background-color: #495e57;
  border-radius: 2rem;
  transition: all 0.4s linear;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: transparent;
  color: #495e57;
  border-color: #495e57;
}

.submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* ========== MEDIA QUIRIES ========== */
@media (min-width: 576px) {
  .title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4.5rem;
  }

  .sub-title {
    font-size: 3rem;
  }
}
