.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2000px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.max-width {
  width: 100%;
  min-width: 280px;
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}

.top-wrapper,
.main,
.footer {
  width: 100%;
}

.top-wrapper {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  height: 100%;
}

.footer {
  height: fit-content;
  margin-top: auto;
}

/* call to action btn */
.link-btn {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  min-width: fit-content;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 16px;
  text-transform: capitalize;
  text-align: center;
}

.link-btn:link,
.link-btn:visited {
  color: #000;
  background-color: #f4ce14;
  border: 2px solid #f4ce14;
}

.link-btn:hover,
.link-btn:focus {
  color: #f4ce14;
  background-color: #495e57;
}

.title,
.sub-title {
  line-height: 1;
  font-family: 'Markazi Text';
  font-weight: 500;
  text-transform: capitalize;
  width: 100%;
}

.title {
  font-size: 3.5rem;
}

.sub-title {
  font-size: 2.5rem;
}

section,
.section {
  padding: 2rem 0;
  margin-bottom: 1rem;
}

section header,
.section .header {
  padding: 1rem 0;
}

.error-msg {
  font-size: 0.6rem;
  text-transform: capitalize;
  color: red;
  width: fit-content;
}

/* RESPONSIVENESS */
@media (min-width: 576px) {
  .title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4.5rem;
  }

  .sub-title {
    font-size: 3rem;
  }
}
